####	.gitgnore:
####		https://git-scm.com/docs/gitignore

!gradle/wrapper/gradle-wrapper.jar

/local.properties

**/.DS_Store
**/._.DS_Store

!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
!.idea/runConfigurations/
.idea/
**/*.iml

**/*.class
**/*.cache

**/.gradle/
gradle-app.setting
.gradletasknamecache

**/build/
**/out/

bin/

.project

.classpath

.settings/

.allure

allure-results
local.env
allure-reports
